@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

th.ascending::after {
  content: "👇";
  margin-left: 1em;
}

th.descending::after {
  content: "☝️";
  margin-left: 1em;
}
