@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");


th.ascending::after {
  width: 0;
  height: 0;
  content: " ";
  border-bottom: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: inline-block;
  margin-left: 1em;
}

th.descending::after {
  width: 0;
  height: 0;
  content: " ";
  border-top: 8px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: inline-block;
  margin-left: 1em;
}
