@tailwind base;

@tailwind components;

@tailwind utilities;

th.ascending::after {
  width: 0;
  height: 0;
  content: " ";
  border-bottom: 8px solid #333;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: inline-block;
  margin-left: 1em;
}

th.descending::after {
  width: 0;
  height: 0;
  content: " ";
  border-top: 8px solid #333;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: inline-block;
  margin-left: 1em;
}